*{ /*buat ganti semuanyaa*/
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
*{
    background-color:rgb(230, 245, 247);
}
.titleBlue{
    color:cornflowerblue;
}
.titleRed{
    color:crimson;
}
.titlePeach{
    color:rgb(240, 189, 145);
}
.center{
    display:flex;
    flex-direction: column;
    justify-content: center; /*secara vertikal*/
    align-items: center;  /*secara horizontal*/
}

.center1{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

button{
    background-color:whitesmoke;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
}

button:hover{
    background-color:rgb(219, 229, 250);
}

.sidebyside{
    display:flex;
    flex-direction: row;
    margin-left: 25%;
}

#sidebyside:hover{
    opacity: 0.7;
    background-color:lavenderblush;
}

.picture{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity:0.75;
}

img:hover{
    opacity:1;
}
